<div class="login-page">
    <div class="relative pt-16 pb-32 flex content-center items-center justify-center" style="min-height: 95vh">
        <div class="absolute top-0 w-full h-full bg-top bg-cover peppers" style="
            background-image: url('https://i.imgur.com/hVwRWgz.jpg');
          ">
            <section class="login flex justify-center pt-24">

                <div class="w-full max-w-xs">
                    <form action="/register" method="POST"
                        class="login-form shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-36">
                        <% if(messages.error) { %>
                            <span class="text-red-500 text-sm">
                                <%= messages.error %>
                            </span>
                            <% } %>
                                <div class="mb-4 email-heading">
                                    <label class="block text-white-700 text-sm font-bold mb-2" for="username">
                                        Name
                                    </label>
                                    <input name="name" value="<%=messages.name %>"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-white-700 leading-tight focus:outline-none focus:shadow-outline email-box"
                                        id="username" type="text" placeholder="Enter your name">
                                </div>
                                <div class="mb-4 email-heading">
                                    <label class="block text-white-700 text-sm font-bold mb-2" for="email">
                                        Email
                                    </label>
                                    <input name="email" value="<%=messages.email %>"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-white-700 leading-tight focus:outline-none focus:shadow-outline email-box"
                                        id="email" type="email" placeholder="Enter your email">
                                </div>
                                <div class="mb-6">
                                    <label class="block text-white-700 text-sm font-bold mb-2" for="password">
                                        Password
                                    </label>
                                    <input name="password"
                                        class="shadow appearance-none border rounded w-full py-2 px-3 text-white-700 mb-3 leading-tight focus:outline-none focus:shadow-outline password-box"
                                        id="password" type="password" placeholder="Password">
                                </div>
                                <div class="flex items-center justify-between">
                                    <button
                                        class="hover:bg-500  font-semibold hover:text-white p-2 px-6 border hover:border-transparent rounded inline-block cursor-pointer btn-primary"
                                        type="submit">
                                        Register
                                    </button>
                                    <a class="inline-block align-baseline font-bold text-sm no-account pl-4"
                                        href="/login">
                                        Already have account?
                                    </a>
                                </div>
                    </form>
                    <p class="text-center text-white-500 text-xs">
                        &copy;DevSoc; F00D1E. All rights reserved.
                    </p>
                </div>
            </section>

        </div>

    </div>
</div>