body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #ccc;
  background: #180b06;
}

.nav {
  background: #180b06;
}

nav li:last-child a {
  background: #c56918;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #b23301;
}

section.hero {
  background: #3d2114;
}

.btn-primary {
  color: #ccc;
  background: transparent;
  border-color: #c56918;
  transition: all 0.3s ease-in-out;
}
.btn-primary:hover {
  background: #b23301;
}

.hero-heading {
  color: #c56918;
}

.hero-text {
  color: #ccc;
}

.size {
  background: #3d2114;
}

.add-cart {
  border: 2px solid #c56918;
  color: #c56918;
  transition: all 0.3s ease-in-out;
}
.add-cart:hover {
  background: #c56918;
  color: #ccc;
}

.cart-heading {
  color: #c56918;
}

.cart-text {
  color: #ccc;
}

.cart {
  background: #180b06;
}
.cart .amount {
  color: #c56918;
}
.cart .data-field {
  background: #3d2114;
  color: #ccc;
}

::-webkit-scrollbar-track {
  box-shadow: inset;
  background-color: #3d2114;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

section.login .login-form {
  background: #180b06;
}
section.login .password-box {
  background: #3d2114;
}
section.login .email-box {
  background: #3d2114;
}
