$primary: #c56918;
$primary-hover: #b23301;
$light-wood: #3d2114;
$dark-wood: #180b06;
$dark: #232323;
$dark-lighter: #ccc;
// Colors
$secondary: #f8f8f8;
$pure: #fff;

$gray: #ccc;

// Transition
$smooth: all 0.3s ease-in-out;

$smooth-hover: all 0.3s ease-in-out;
