$primary: #c56918;
$primary-hover: #b23301;
$light-wood: #22140f;
$lighter-wood: #6e402f;
$dark-wood: #180e0b;
$dark: #232323;
$dark-lighter: #ccc;
$nav-wood: #2c1008;
// Colors
$secondary: #f8f8f8;
$pure: #fff;

$gray: #ccc;

// Transition
$smooth: all 0.3s ease-in-out;

$smooth-hover: all 0.3s ease-in-out;
