@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark-lighter;
  background: $dark-wood;
}
.nav {
  background: $dark-wood;
}

nav li:last-child a {
  background: $primary;
}

nav li a {
  transition: $smooth-hover;
  &:hover {
    color: $primary-hover;
  }
}

section.hero {
  background: $secondary;
}

.btn-primary {
  color: $dark-lighter;
  background: transparent;
  border-color: $primary;
  transition: $smooth-hover;
  &:hover {
    background: $primary-hover;
  }
}

.hero-heading {
  color: $primary;
}
.hero-text {
  color: $dark-lighter;
}
.size {
  background: $secondary;
}
.menu-heading {
  color: $primary;
  font-size: 2rem;
}
.add-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth-hover;
  &:hover {
    background: $primary;
    color: $dark-lighter;
  }
}

.cart {
  background: $dark-wood;

  .cart-heading {
    color: $primary;
  }
  .cart-text {
    color: $dark-lighter;
  }
  .amount {
    color: $primary;
  }
  .data-field {
    background: $secondary;
    color: $dark-lighter;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset;
  background-color: $secondary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $dark-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-lighter;
}

section.login {
  min-height: calc(100vh - 86px);
  .login-form {
    background: $dark-wood;
  }
  .password-box {
    color: $dark-lighter;
    background: $secondary;
    border: none;
  }
  .email-box {
    color: $dark-lighter;
    background: $secondary;
    border: none;
  }
  .no-account {
    transition: $smooth-hover;
    &:hover {
      color: $primary-hover;
    }
  }
}
.noty_theme_mint {
  border-radius: 50px !important;
  padding-left: 8px !important;
  background: $primary !important;
}
