@import './variables';

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: $dark-lighter;
  background: $dark-wood;
}
.nav {
  background: $dark-wood;
}

nav li:last-child a {
  background: $primary;
}

nav li a {
  transition: $smooth-hover;
  &:hover {
    color: $primary-hover;
  }
}

section.hero {
  background: $secondary;
}

.btn-primary {
  color: $dark-lighter;
  background: transparent;
  border-color: $primary;
  transition: $smooth-hover;
  &:hover {
    background: $primary-hover;
  }
}

.hero-heading {
  color: $primary;
}
.hero-text {
  color: $dark-lighter;
}
.size {
  background: $secondary;
}
.add-cart {
  border: 2px solid $primary;
  color: $primary;
  transition: $smooth-hover;
  &:hover {
    background: $primary;
    color: $dark-lighter;
  }
}
.cart-heading {
  color: $primary;
}
.cart-text {
  color: $dark-lighter;
}

.cart {
  background: $dark-wood;
  .amount {
    color: $primary;
  }
  .data-field {
    background: $secondary;
    color: $dark-lighter;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset;
  background-color: $secondary;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: $dark-lighter;
}

::-webkit-scrollbar-thumb {
  background-color: $dark-lighter;
}
section.login {
  .login-form {
    background: $dark-wood;
  }
  .password-box {
    background: $secondary;
  }
  .email-box {
    background: $secondary;
  }
}
